appdirs==1.4.4
asgiref==3.3.1
awscli==1.18.194
awscli-plugin-endpoint==0.4
botocore==1.19.34
click==7.1.2
colorama==0.4.3
distlib==0.3.1
Django==3.1.7
docutils==0.15.2
filelock==3.0.12
Flask==1.1.2
GDAL==3.2.1
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
MarkupSafe==1.1.1
numpy==1.20.1
protobuf==3.15.3
pyasn1==0.4.8
python-dateutil==2.8.1
python-decouple==3.4
pytz==2021.1
PyYAML==5.3.1
rsa==4.5
s3transfer==0.3.3
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.2
virtualenv==20.2.2
Werkzeug==1.0.1
